extends ../template/layout

block content 
    form(method="POST")
        input(id="oldPassword", name="oldPassword", type="password", placeholder="Verify your old password")
        input(id="newPassword", name="newPassword", type="password", placeholder="Enter your new password")
        input(id="_newPassword", name="_newPassword", type="password", placeholder="Confirm your new password")
        input(type="submit", value="Change Password")
